.row
    .col-xs-12.col-md-6
        .row
            .col-xs-10.col-md-6
                h1 
                    a(href="/") 
                        span #{title} 
                        if total_posts
                            span.total_posts (#{total_posts})
            .col-xs-12.col-md-6
                div.text-left
                    //a(href="https://www.facebook.com/groups/393558204075688" target="_blank") ↝ Group
    .col-xs-12.col-md-6.nav
        .row
            .col-xs-12.col-md-6
                nav.menu
                    ul
                        li
                            //input(type="text" id="s" placeholder="SEARCH" autocomplete="off" value="SEARCH")
                            a(href="/search" class="no-smoothState") SEARCH
                        li
                            a(href="/random") RANDOM
                        li
                            a(href="/images") IMAGES VIEW
                        li
                            a(href="/contributors") CONTRIBUTORS

                    
                        
            .col-xs-12.col-md-6
                nav.extra
                    .timestamps
                        ul
                            li
                                div.city.berlin BERLIN
                                div.time #{moment().utcOffset("+01:00").format("ha")}
                                
                            li
                                div.city.nyc NEW YORK
                                div.time #{moment().utcOffset("-05:00").format("ha")}

                            li
                                div.city.tokyo TOKYO
                                div.time #{moment().utcOffset("+09:00").format("ha")}

                    .about
                        a(href="/about") ABOUT

.burger.visible-xs
    i

#search.slideTop
    form
        input(type="text" id="s" name="s" placeholder="SEARCH" autocomplete="off" value="")
        input(type="submit" value="↝")    

