extends layout

block content
    -var len = posts.length
    h1 #{title} (#{len})
    //p Welcome to #{title}
    ul
      each post in posts
        li
            if post.link
                a(href="#{post.link}" target="_blank")
                    span.date #{post.updated_time.getFullYear()}
                    span.name  #{post.name}
