each post in posts
    -var color = "000";
    if post.color && post.color != "FFFFFF"
        -color = post.color;

    .item(id="#{post._id}" style="color:##{color}")
        a(href="#{post.link}" target="_blank")
            .row
               
                if post.link && post.name
                    
                    .col-xs-6.col-left
                        div.title
                            div.autoradio
                                span.name #{post.name}
                        div.metas
                            //span POSTED #{moment(post.updated_time).format('MM.DD.YY HH:MM')}
                            .row
                                .col-xs-6
                                    div.date POSTED #{moment(post.updated_time).format('MM.DD.YY HH:MM')}
                                .col-xs-6
                                    div.url.text-right #{post.link}
                    .col-xs-6.col-right
                        .row.bottom-xs
                            .col-xs-6
                                -var image = post.image
                                if image
                                    figure
                                        if post.color
                                            div.placeholder(style="background-color:##{post.color}")
                                        img(src="#{root_url}/#{image}" width="" height="69" onerror="this.className='img404'")
                            .col-xs-6
                                div.from.text-right #{post.from}

